<div class="section purple">
	<div class="container contact">
		<div class="contact-column">
			<div class="contact-title">Écrivez-nous :</div>
			<a href="mailto:contact@fourasdemain.fr" target="_blank">contact@fourasdemain.fr</a>
		</div>
		<div class="contact-column">
			<div class="contact-title">Suivez-nous sur :</div>
			<a href="https://www.facebook.com/FourasDemain" target="_blank">Facebook</a>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
