<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fouras Demain - Une dynamique pour la presqu'île en 2020</title>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
<link href="/main.css" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71248376-2', 'auto');
  ga('send', 'pageview');
</script>
<div class="hero-background">
	<div class="navigation">
		<a href="/"><img src="/image/logo.png" id="logo" alt="Logo Fouras Demain"></a>
	</div>
	<div class="hero-text">
		<h1>En 2020, remettons Fouras en mouvement.<br>Quel Fouras voulez-vous demain ?</h1>
	</div>
</div>
