{{partial "header.html" .}}
<div class="banner purple">
	<div class="container">
		Inscrivez-vous pour rester informé et participer :
		<form id="subscribe">
			<input type="email" name="email" size="30" placeholder="Votre adresse email" required>
			<button type="submit">Je m'inscris</button>
		</form>
	</div>
</div>
<div class="section container">
  <h2>Qui sommes-nous ?</h2>
	<p>
	Fouras Demain est un mouvement citoyen, qui rassemble des Fourasins de toutes tendances, autour d'une volonté de bâtir un projet positif et visionnaire pour notre presqu'île, et le mettre en oeuvre dès 2020.
</div>
<div class="section top-border">
  <div class="container">
    <h2>Actualité</h2>
      {{ range .Data.Pages }}
        <a href="{{.Permalink}}" class="post-title">{{ .Title}}</a> • {{ .Date.Format "02/01/2006" }}
      {{ end }}
  </div>
</div>
{{partial "footer.html" .}}
<script>
$('#subscribe').submit(function (event) {
	event.preventDefault();
    var form = jQuery(this);
    var oldText = form.children('button').text();
    form.children('button').text('Envoi en cours...').attr('disabled', 'disabled');

    var data = form.serializeArray();
    data.push({name: 'referrer', value: document.referrer});

    jQuery.ajax({
        url: '/api/subscribe',
        method: 'POST',
        data: data,
        dataType: 'json',
        timeout: 10000,
        success: function() {
            form.get(0).reset();
            alert("Nous avons bien enregistré votre demande. Merci !");
        },
        error: function () {
            alert("Votre demande n'a pas pu être enregistrée suite à une erreur inattendue.");
        },
        complete: function () {
            form.children('button').text(oldText).removeAttr('disabled');
        }
    });
    ga('send', 'event', 'form', 'submit', 'signup');
});

$('a').click(handleOutboundLinkClicks);

function handleOutboundLinkClicks(event) {
	ga('send', 'event', 'outbound', 'click', event.currentTarget.href);
}
</script>
