img {
  border-style: none;
}

*, *:before, *:after {
	box-sizing: inherit;
}

input,
button {
	font-family: inherit;
	font-size: inherit;
}

html {
	height: 100%;
}

body {
	box-sizing: border-box;
	font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	line-height: 1.5;
	color: #444;
	height: 100%;
}

h1, h2, h3 {
	line-height: 1.2;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input,
button {
	border-radius: 2px;
}

button {
	color: white;
	background: #6754A3;
	padding: 0.5em;
	border: none;
	cursor: pointer;
}

input {
	border: 1px solid #ccc;
	padding: 0.5em;
}

.action {
	color: #6754A3;
	font-weight: bold;
	text-transform: uppercase;
}

.container {
	margin: 0 auto;
	max-width: 55em;
	padding-left: 2em;
	padding-right: 2em;
}

.purple {
	background: rgba(103, 84, 163, 0.1);
}

.box {
	border-radius: 2px;
	padding: 1em;
	background: rgba(103, 84, 163, 0.1);
}

.banner {
	padding: 1em;
}

.section {
	padding-top: 4em;
	padding-bottom: 4em;
}

.top-border {
	border-top: 1px solid #e5e5e5;
}

.hero-background {
	color: white;
	background-color: #9bcefd;
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(image/banner.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(image/banner.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navigation {
	padding: 50px 50px;
	text-align: center;
}

.navigation nav {
	float: right;
	line-height: 100px;
}

.navigation nav a {
	float: left;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.875em;
	letter-spacing: 0.05em;
}

#logo {
	width: 150px;
	height: 150px;
}

.hero-text {
	padding: 50px 50px;
	text-align: center;
}

#subscribe {
	display: inline-block;
}

.container h2 {
	text-align: center;
}

.container h2:first-child {
	margin-top: 0;
}

.post-title {
	font-size: 1.5em;
}

.contact {
	text-align: center;
	width: 100%;
	display: table;
	color: #666;
}

.contact a {
	font-weight: bold;
}

.contact-title {
	font-style: normal;
	text-transform: uppercase;
	font-size: 0.875em;
	letter-spacing: 0.1em;
}

@media (min-width: 500px) {
	h1 {
		font-size: 2.5em;
	}

	.contact .contact-column {
		display: table-cell;
		width: 50%;
	}
}
